html,
body {
  height: 100%;
}
header{
  background-color: #343F4B;
  height: 85px;
}
main{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
.search{
  height: 25px;
}
.active{
  background-color: #E5E9F2;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0; 
}
.nav-item{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px; 
}
.navbar .btn{
  color: white;
}
.card-header{
  background-color: white;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
