{% extends "base.html" %}
{% block title %}
    <title>Dashboard - Friend Actions</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/actions_friends.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link active" href="{{ url_for('actions') }}">Actions</a>
            <a class="nav-item nav-link" href="{{ url_for('queries') }}">DataBase Queries</a>
        </form>
        <img class="search" src="{{ url_for('static',filename='images/search.png') }}">
    </nav>
    <div class="row mt-5">
        <div class="dropdown col-4 m-auto">
            <button class="btn col-12 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Actions for hired friends
            </button>
            <div class="mt-2">
                <button class="dropdown-item" type="button">Денчик сам переписую цю парашу</button>
                <button class="dropdown-item" type="button">Денчик сам переписую цю парашу</button>
            </div>
        </div>
    </div>
{% endblock %}