<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">
</head>

<body class="text-center">
<header>
</header>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button class="btn btn-sm bg-secondary btn-outline-secondary" type="button" onclick="location.href='/profile'">Your Profile</button>
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link" href="/actions">Actions</a>
        <a class="nav-item nav-link" href="/queries">Data Base Queries</a>
    </form>
    <img class="search" src="{{ url_for('static',filename='images/search.png') }}">
</nav>
<main class="row">
    <div class="col-12 text-center mt-5">
        <p>A simple interface of:</p></div>
    <div class="col-12 text-center">
        <h2>Data Bases Final Project.<br>A simple web app for friends and clients</h2></div>
    <div class="col-12 text-center mt-5">
        <button class="btn btn-sm bg-secondary btn-outline-secondary" type="button">Watch a video</button>
    </div>
</main>

</body>
</html>