{% extends "base.html" %}
{% block title %}
    <title>Dashboard</title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">
{% endblock %}


{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Log In</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% endif %}
            </div>
            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('actions') }}">Actions</a>
            <a class="nav-item nav-link" href="{{ url_for('queries') }}">DataBase Queries</a>
        </form>
        {% if not current_user.is_anonymous %}
            <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
    </nav>
    <main class="row all_available_height">
        <div class="col-12 text-center mt-5">
            <p>A simple interface of:</p></div>
        <div class="col-12 text-center">
            <h2>Data Bases Final Project.<br>A simple web app for friends and clients</h2></div>
        <div class="col-12 text-center mt-5">
            <button class="btn btn-sm bg-secondary btn-outline-secondary" type="button">Watch a video</button>
        </div>
    </main>
{% endblock %}