{% extends "base.html" %}
{% block title %}
    <title>Dashboard - Hiring the Friend for the Date</title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
{% endblock %}


{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Log In</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% endif %}
            </div>
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link active" href="{{ url_for('actions') }}">Actions</a>
            <a class="nav-item nav-link" href="{{ url_for('queries') }}">DataBase Queries</a>
        </form>
        {% if not current_user.is_anonymous %}
            <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
    </nav>
    <div class="row mt-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="card col-6 m-auto">
            <div class="card-header">Hiring the Friend for the Date:</div>
            <form action="{{ url_for('hire_friend_for_a_date') }}" method="POST">
                <div class="mt-2">
                    <div class="row mt-2">
                        <p class="col-6">Friend Id:</p>
                        {{ form.friend_id(class_="col-6", placeholder="Id of friend") }}
                    </div>
                </div>
                {{ form.submit(class_="btn btn-lg btn-block") }}
            </form>
        </div>
    </div>
{% endblock %}