{% extends "base.html" %}
{% block title %}
    <title>Dashboard - Hiring Friends</title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}">
{% endblock %}


{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
            <a class="nav-item nav-link active" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('actions') }}">Actions</a>
            <a class="nav-item nav-link" href="{{ url_for('queries') }}">DataBase Queries</a>
        </form>
        <img class="search" src="{{ url_for('static',filename='images/search.png') }}">
    </nav>
    <div class="row mt-5">
        <div class="card col-6 m-auto">
            <div class="card-header">Hiring the group of friends for the holiday</div>
            <div class="mt-2">
                <div class="row mt-2">
                    <button class="dropdown-item col-6" type="button">Денчик сам переписую цю парашу</button>
                    <input class="col-6" placeholder="цю тоже">
                </div>
                <div class="row mt-2">
                    <button class="dropdown-item col-6" type="button">Денчик сам переписую цю парашу</button>
                    <input class="col-6" placeholder="цю тоже">
                </div>
                <div class="row mt-2">
                    <button class="dropdown-item col-6" type="button">Денчик сам переписую цю парашу</button>
                    <input class="col-6" placeholder="цю тоже">
                </div>
            </div>
        </div>
    </div>
{% endblock %}