{% extends "base.html" %}
{% block title %}
    <title>Dashboard - Queries</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/queries.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Log In</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% endif %}
            </div>
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('actions') }}">Actions</a>
            <a class="nav-item nav-link active" href="{{ url_for('queries') }}">DataBase Queries</a>
        </form>
        {% if not current_user.is_anonymous %}
            <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
        {% endif %}
    </nav>
    <div class="row mt-5">
        <div class="dropdown col-10 m-auto">
            <button class="btn col-12 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                DataBase Queries
            </button>
            <div class="mt-8">
                <button class="dropdown-item" type="button">For client C find all friends he has hired at least N times
                    during the specified period (from date F to date T);
                </button>
                <button class="dropdown-item" type="button">For hired friend X, find all clients who have hired him at
                    least N times for the specified period (from date F to date T);
                </button>
                <button class="dropdown-item" type="button">For hired friend X, find all holidays for which he was hired
                    at least N times during the specified period (from date F to date T);
                </button>
                <button class="dropdown-item" type="button">Find all clients who have hired at least N different friends
                    for the specified period (from date F to date T);
                </button>
                <button class="dropdown-item" type="button">Find all hired friends who have been hired at least N times
                    during the specified period (from date F to date T);
                </button>
                <button class="dropdown-item" type="button">Find the total number of appointments by month;</button>
                <button class="dropdown-item" type="button">For hired friend X and each holiday he attended, find how
                    many times during the specified period (from date F to date T) he was hired for the holiday in a
                    group of at least N friends;
                </button>
                <button class="dropdown-item" type="button">Display gifts in descending order of the average number of
                    days off taken by hired friends who received a gift from client C during the specified period (from
                    date F to date T);
                </button>
                <button class="dropdown-item" type="button">Display the number of complaints from groups of at least N
                    clients for the specified period (from date F to date T) in descending order of hired friends;
                </button>
                <button class="dropdown-item" type="button">Find all common events for client C and hired friend X for
                    the specified period (from date F to date T);
                </button>
                <button class="dropdown-item" type="button">Find all the days when the days off were from A to B of
                    hired friends, inclusive;
                </button>
                <button class="dropdown-item" type="button">Find all the days when the days off were from A to B of
                    hired friends, inclusive;
                </button>
            </div>
        </div>
    </div>
{% endblock %}