{% extends "base.html" %}

{% block title %}
    <title>Success!</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Log In</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Log Out</a>
                {% endif %}
            </div>
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('actions') }}">Actions</a>
            <a class="nav-item nav-link" href="{{ url_for('queries') }}">DataBase Queries</a>
        </form>
        {% if not current_user.is_anonymous %}
            <a class="nav-item nav-link" href="#">Profile</a>
        {% endif %}
    </nav>
    <main class="row">
        <div class="col-12 text-center">
            <h2>Success !</h2>
        </div>
    </main>
{% endblock %}